@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #c2c2c2;
    --branco: #ffffff;
    --laranja: #860986;
    --azul-degrade: linear-gradient(97.54deg, #150036 35.49%, #be0f89 165.37%);
    --fonte-principal: "Poppins";
    --azul: #ff00c8;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}